<% include ./partials/header %>


<div class="container">



  <div class="col-md-6">
    <div id="currentList">

      <table class="table">
      <tr>
        <th>ITEM</th>
        <th>QTY.</th>
        <th>UNITS</th>
        <th>DEPT</th>
      </tr>
    <% for (var i=0;i< ingredient.length;i++){ %>



      <tr>

      <td>

   
       <span data-list-id="<%= listId %>" data-name="<%= ingredient[i].name %>" data-unit="<%= ingredient[i].unit %>" data-department="<%= ingredient[i].department %>" class="delete-item glyphicon glyphicon-ok" class= "ing-remove" input type="button"></span>
   
      <%= ingredient[i].name %></td>
      <td><%= parseFloat(ingredient[i].totalqty).toFixed(2) %></td>
      <td><%= ingredient[i].unit %></td>
      <td><%= ingredient[i].department %>
      </td>


      </tr>
    <% } %>
   
    </table>



    </div>
  </div>

  <div class="col-md-6">

    <div class="addItemForm">
      <div class="addItemHeader">
        <strong>ADD AN ITEM TO YOUR LIST</strong>
      </div>

        <form action="ingredients/<%= user.lists[0].id%>/additem" method="POST">

        <label class="addFormLabel">ITEM NAME</label>
        <input type="text" class="form-control addFormBox" id="usernameBox" name="itemName" placeholder="Enter an item here.">
        <label class="addFormLabel">DEPARTMENT</label>
        <input type="text" class="form-control addFormBox" id="usernameBox" name="itemDepartment" placeholder="Enter a grocery department here.">
        <label class="addFormLabel">QTY</label>
        <input type="number" class="form-control addFormBox" id="usernameBox" name="itemQty" placeholder="Enter a numeric quantity here.">
        <label class="addFormLabel">UNITS</label>

          <select name="unit">
            <option value="gal">Gal</option>
            <option value="gals">Gals</option>
            <option value="oz">Oz</option>
            <option value="cup">Cup</option>
            <option value="cups">Cups</option>
            <option value="tablespoons">Tablespoons</option>
            <option value="tablespoons">Tbsp</option>
            <option value="teaspoons">Teaspoons</option>
            <option value="tsp">Tsp</option>
            <option value="ml">Ml</option>
          </select>


        <button class="btn ingredientSubmit" type="submit">ADD TO LIST!</button>

      </form>

    </div>


  </div>
</div>
<% include ./partials/footer %>