<% include ./partials/header %>


<div class="container">
  <div class="col-md-6">
    <div id="currentList">

      <table class="table">
    <% for (var i=0;i< ingredient.length;i++){ %>

      <tr>

      <td><%= ingredient[i].name %></td>
      <td><%= parseFloat(ingredient[i].quantity).toFixed(2) %></td>
      <td><%= ingredient[i].unit %></td>
      <td><%= ingredient[i].department %></td>
      </tr>
    <% } %>
    </table>



    </div>
  </div>

  <div class="col-md-6">

    <div class="addItemForm">
      <div class="addItemHeader">
        <strong>ADD AN ITEM TO YOUR LIST</strong>
      </div>

        <form action="/<%= user.lists[0].id%>/additem" method="POST">

        <label class="addFormLabel">ITEM NAME</label>
        <input type="text" class="form-control addFormBox" id="usernameBox" name="itemName" placeholder="Enter an item here.">
        <label class="addFormLabel">QTY</label>
        <input type="text" class="form-control addFormBox" id="usernameBox" name="itemQty" placeholder="Enter a qty here.">

        <label class="addFormLabel">UNITS</label>

          <select>
            <option name="units" value="Gal">Gal</option>
            <option name="units" value="Oz">Oz</option>
            <option name="units" value="Cups">Cups</option>
            <option name="units" value="Tbsp(s)">Tbsp(s)</option>
          </select>


        <button class="btn" type="submit">ADD TO LIST!</button>

      </form>

    </div>



  <div class="addItemForm">

    <div class="addItemHeader">
      <strong><span class="glyphicon glyphicon-star"></span> FAVORITE ITEMS</strong>
    </div>





  </div>

  </div>
</div>
<% include ./partials/footer %>