<% include ./partials/header %>
<div class="container">

  <span><% include ./partials/alert %></span>
  <h2 id="resultsHeader">We found <%= ResultCount %> recipes matching your search:</h2>

  <div id="searchResultsField">


    <% for (var i=0; i < Results.length; i++){ %>
      <a href="/recipes/<%= Results[i].RecipeID%>">
        <div class="resultDiv">
         <img class="recipeResultsPhoto" src="<%= Results[i].ImageURL %>">
            <div class="resultText">
            <%= Results[i].Title %>
            <br>
            by <%= Results[i].Poster.UserName %>
            </div>
        </div>
      </a>
     <% } %>

  </div>

</div>









<% include ./partials/footer %>