<% include ./partials/header %>

 <div class="container">
  <span><% include ./partials/alert %></span>
  <h2><%= Title %></h2>
  <h3>posted by <%= Poster.UserName %></h3>


  <img class="showImage" src="<%= ImageURL %>">


<!-- Hidden form field with Ingredient values -->
      <div>
          <form action="/favorites" id="addButton" method="POST">
              <button class="btn addMyRecipes" name ="addRecipesBtn" type="submit"><span class="glyphicon glyphicon-heart"></span> ADD TO MY RECIPES</button>
            </button>
              <input type="hidden" name="Title" value="<%= Title %>">
              <input type="hidden" name="UserName" value="<%= Poster.UserName %>">
              <input type="hidden" name="RecipeID" value="<%= RecipeID %>">
              <input type="hidden" name="ImageURL" value="<%= ImageURL %>">
          </form>
        </div>


      <h3><%= StarRating %></h3>

  <div class="recipeDescription">
      <%= Description %>
  </div>

  <div class="recipeInstructions">
      <%= Instructions %>
  </div>

  <div name="ingredients" class="showIngredientList">

    MAKES <%= YieldNumber %> <%= YieldUnit %>.


    <% for (var i=0;i<Ingredients.length; i++){ %>
      <div class="eachIngredient">

        <%= Ingredients[i].DisplayQuantity %>
        <%= Ingredients[i].Unit %>
        <%= Ingredients[i].Name %>

      </div>

    <% } %>

  </div>
    <!-- <form method="GET"> -->
      <a href="/recipes/mylist/add-recipe/<%=RecipeID %>" class="btn addIngredientsBtn" type="submit">ADD INGREDIENTS TO MY LIST</a>
    <!-- </form> -->
 </div>
  </div>


<% include ./partials/footer %>